body {
    text-align: center;
    font-family: 'Courier New', monospace;
}
.box {
    height: 30px;
    width: 30px;
    border-style: outset ;
}
.blackbox {
    background-color: black;
}
.whitebox {
    background-color: white;
}