body {
    text-align: center;
}
.box {
    height: 30px;
    width: 30px;
    border: 1.5px solid grey;
    border-style: inset;
}

.blackbox {
    background-color: black;
}

.whitebox {
    background-color: white;
}